<% @page_title = 'Welkom op Toccata' %>
<div class="row" style="margin-top:20px">
  <div class="medium-12 columns">
    <div class="card">
      <div class="card-title">Blablabla</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam architecto, aspernatur assumenda consectetur cupiditate dolorem harum ipsum magnam molestiae numquam quibusdam quo tempora! Cupiditate ex impedit odit possimus suscipit.
      </div>
    </div>
  </div>
</div>